{% extends "dashboard_base.html" %}
{% block title %} Evidence History Details{% endblock %}
{% block content %}

<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('home') }}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Nav Item - Profile -->
<li class="nav-item">
    <a class="nav-link " href="#" data-toggle="collapse" data-target="#collapseTwo"
       aria-expanded="true"
       aria-controls="collapseTwo">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>Profile</span></a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Profile:</h6>
            <a class="collapse-item" href="{{ url_for('profile') }}">Show Profile</a>
            <a class="collapse-item" href="{{ url_for('edit_profile') }}">Edit Profile</a>
        </div>
    </div>
</li>


<!-- Divider -->
<hr class="sidebar-divider">

<!-- Nav Item - Case -->
<li class="nav-item">
    <a class="nav-link " href="#" data-toggle="collapse" data-target="#collapsefour"
       aria-expanded="true"
       aria-controls="collapsefour">
        <i class="fa fa-briefcase" aria-hidden="true"></i>
        <span>Case</span></a>
    <div id="collapsefour" class="collapse" aria-labelledby="headingTwo"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Case Details:</h6>
            <a class="collapse-item" href="{{ url_for('Case') }}">Show Case</a>
            <a class="collapse-item" href="{{ url_for('Case_Add') }}">Add Case</a>
        </div>
    </div>
</li>

{% if role == 'Admin' %}
<!-- Divider -->
<hr class="sidebar-divider">

<!-- Nav Item - Admin -->
<li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseThree"
       aria-expanded="true"
       aria-controls="collapseThree">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>Accounts</span></a>
    <div id="collapseThree" class="collapse" aria-labelledby="headingTwo"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Profile:</h6>
            <a class="collapse-item " href="{{ url_for('admin') }}">Show Accounts</a>
            <a class="collapse-item " href="{{ url_for('admin_account') }}">Add Accounts</a>
	    <a class="collapse-item " href="{{ url_for('admin_case') }}">Show Case</a>
	    <a class="collapse-item" href="{{ url_for('admin_evidence') }}">Show Latest Transactions</a>
        </div>
    </div>
</li>
{% endif %}

{% endblock %}

{% block user %}{{ username }}{% endblock %}
{% block content1 %}
<!-- Begin Page Content -->
<div class="container-fluid" id="caseContainer">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Evidence History</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Case {{case_id}}</h6>
        </div>
        <div class="card-body">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="heading-1">
                        <h6 class="mb-0">
                            <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false"
                               aria-controls="collapse-1">
                                Evidence {{evid_id}}
                            </a>
                        </h6>
                    </div>
                    {% for evidence in evidence_list %}
                    <div id="collapse-1" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
                        <div class="card-body">
                            <div id="accordion-1">
                                <div class="card">
                                    <div class="card-header" id="heading-1-2">
                                        <h6 class="mb-0">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               href="#collapse-1-{{ loop.index }}" aria-expanded="false" aria-controls="collapse-1-{{ loop.index }}">
						    {{ evidence['time'] }}
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapse-1-{{ loop.index }}" class="collapse" data-parent="#accordion-1"
                                         aria-labelledby="heading-1-{{ loop.index }}">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h6 class="mb-1">Handler</h6>
                                                </div>
                                                <small>{{ evidence['handler'] }}</small>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h6 class="mb-1">Status</h6>
                                                </div>
                                                <small>{{ evidence['status'] }}</small>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h6 class="mb-1">Purpose</h6>
                                                </div>
                                                <small>{{ evidence['purpose'] }}.</small>
                                            </a>
											
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}
