{% extends "dashboard_base.html" %}
{% block title %} Profile {% endblock %}
{% block content %}
<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('home') }}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Nav Item - Profile -->
<li class="nav-item active">
    <a class="nav-link " href="#" data-toggle="collapse" data-target="#collapseTwo"
       aria-expanded="true"
       aria-controls="collapseTwo">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>Profile</span></a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Profile:</h6>
            <a class="collapse-item" href="{{ url_for('profile') }}">Show Profile</a>
            <a class="collapse-item active" href="{{ url_for('edit_profile') }}">Edit Profile</a>
        </div>
    </div>
</li>



<!-- Divider -->
<hr class="sidebar-divider">

<!-- Nav Item - Case -->
<li class="nav-item">
    <a class="nav-link " href="#" data-toggle="collapse" data-target="#collapsefour"
       aria-expanded="true"
       aria-controls="collapsefour">
        <i class="fa fa-briefcase" aria-hidden="true"></i>
        <span>Case</span></a>
    <div id="collapsefour" class="collapse" aria-labelledby="headingTwo"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Case Details:</h6>
           <a class="collapse-item" href="{{ url_for('Case') }}">Show Case</a>
            <a class="collapse-item" href="{{ url_for('Case_Add') }}">Add Case</a>
        </div>
    </div>
</li>
<!-- Divider -->
<hr class="sidebar-divider">

{% if role == 'Admin' %}
<!-- Nav Item - Admin -->
<li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseThree"
       aria-expanded="true"
       aria-controls="collapseThree">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>Accounts</span></a>
    <div id="collapseThree" class="collapse" aria-labelledby="headingTwo"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Profile:</h6>
            <a class="collapse-item " href="{{ url_for('admin') }}">Show Accounts</a>
            <a class="collapse-item " href="{{ url_for('admin_account') }}">Add Accounts</a>
        </div>
    </div>
</li>
{% endif %}

{% endblock %}

{% block user %}{{ username }}{% endblock %}
{% block content1 %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Edit Profile</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Account Details</h6>
        </div>
        <div class="card-body">
            <form action="{{ url_for('edit_profile') }}" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" value="{{ account['username'] }}" name="username" id="username"
                           placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" value="" name="password" id="password" placeholder="New Password">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" value="{{ account['email'] }}" name="email" id="email" placeholder="Email">
                </div>
                <button type="submit" value="Save" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <p>{{ msg }}</p>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}