{% extends "dashboard_base.html" %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('home') }}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Nav Item - Profile -->
<li class="nav-item">
    <a class="nav-link " href="#" data-toggle="collapse" data-target="#collapseTwo"
       aria-expanded="true"
       aria-controls="collapseTwo">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>Profile</span></a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Profile:</h6>
            <a class="collapse-item" href="{{ url_for('profile') }}">Show Profile</a>
            <a class="collapse-item" href="{{ url_for('edit_profile') }}">Edit Profile</a>
        </div>
    </div>
</li>


<!-- Divider -->
<hr class="sidebar-divider">


<!-- Nav Item - Case -->
<li class="nav-item">
    <a class="nav-link " href="#" data-toggle="collapse" data-target="#collapsefour"
       aria-expanded="true"
       aria-controls="collapsefour">
        <i class="fa fa-briefcase" aria-hidden="true"></i>
        <span>Case</span></a>
    <div id="collapsefour" class="collapse" aria-labelledby="headingTwo"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Case Details:</h6>
            <a class="collapse-item" href="{{ url_for('Case') }}">Show Case</a>
            <a class="collapse-item" href="{{ url_for('Case_Add') }}">Add Case</a>
        </div>
    </div>
</li>


<!-- Divider -->
<hr class="sidebar-divider">

{% if role == 'Admin' %}
<!-- Nav Item - Admin -->
<li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseThree"
       aria-expanded="true"
       aria-controls="collapseThree">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>Accounts</span></a>
    <div id="collapseThree" class="collapse" aria-labelledby="headingTwo"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Profile:</h6>
            <a class="collapse-item " href="{{ url_for('admin') }}">Show Accounts</a>
            <a class="collapse-item " href="{{ url_for('admin_account') }}">Add Accounts</a>
        </div>
    </div>
</li>
{% endif %}

{% endblock %}

{% block user %}{{ username }}{% endblock %}

{% block content1 %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                CURRENT USER
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ username }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                ROLE
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ role }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-plus fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Number Of Cases
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"> {{no_of_case}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Latest Transactions</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
		{% for evidence in evidence_list %}
                <tr>
                    <th>Date</th>
                    <th>Case ID</th>
                    <th>Evidence ID</th>
                    <th>Handler Name</th>
                    <th>Current Status</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
	            <th> {{ evidence['time'] }} </th>
                    <th>{{ evidence['case_id'] }}</th>
                    <th>{{ evidence['evid_id'] }}</th>
                    <th>{{ evidence['handler'] }}</th>
                    <th>{{ evidence['status'] }}</th>
                </tr>
		{% endfor %}
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}
